[submodule "Content/HomelandGameAssets"]
	path = Content/HomelandGameAssets
	url = git@github.com:HomelandStudio/HomelandGameAssets.git
[submodule "Docs"]
	path = Docs
	url = git@github.com:HomelandStudio/HomelandGame.wiki.git
